.choose-game {
    width: 79rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-family: $font-main;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 6.3rem;
    

    &-button {
        display: flex;
        justify-content: center;
        align-items: center;

        list-style: none;
        
        width: 24rem;
        height: 4.9rem;
        border-radius: 2.45rem;

        
        background-color: $color-grey-secondary;

        &:not(:last-of-type) {
            margin-right: 3.7rem;
        }

        a {
            text-decoration: none;
            color: $color-primary-girl;
        }
    }
}

.student__list {
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    list-style: none;
    width: 99.3rem;
    

    .studentContainer {
        width: 100%;
        
        display: flex;
        flex-direction: column;
        width: 48.2rem;
        border-bottom: 1px solid $color-light-grey;

        // &:not(:nth-child(2n)) {
        //     margin-right: 29rem;
        // }
        .student {
            width: 100%;
            height: 5rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            font-family: $font-secondary;
            font-size: 1.8rem;
            color: $color-black;
            
            .student__name {
                flex: 1;
            }

            .studentTotalPoints {

                .pointsLabel {
                    font-size: 1.4rem;
                    color: $color-grey;
                }

                .totalPoints {
                    margin-right: 2rem;
                    margin-left: 1.7rem;
                    font-size: 1.8rem;
                    color: $color-black;
                }
            }

            .student-edit {
                display: none;
                margin-right: 2rem;

                .student-edit-button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 2.4rem;
                    width: 2.4rem;
                    font-size: 1.2rem;
                    border-radius: 1.2rem;
                    color: $color-white;
                    

                    &-edit {
                        background-color: $color-primary-girl;
                        margin-right: 1rem;
                    }

                    &-delete {
                        background-color: $color-primary-pink;
                        text-decoration: none;
                    }
                }

            }
            &:hover {
                .student-edit {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                }
            }
            
        }

        .update__form {
            // height: 5rem;
            font-size: 1.8rem;
            background-color: rgba(234, 234, 234, 0.4);


            .form__update {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
                height: 5rem;

                

                .update__name {
                    margin-right: auto;
                    border: none;
                    font-size: 1.8rem;
                    color: $color-black;
                    max-width: 14rem;
                    height: 100%;
                    background-color: inherit;
                }    
                
                

                .form-control-radios {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: end;
                    margin-right: 3.1rem;

                    .radio-control {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;

                        &:not(:last-of-type) {
                            margin-right: 1.3rem;
                        }

                        .gender-radio {
                        }

                        .gender-radio-label {
                            margin-left: 2rem;
                            font-family: $font-secondary;
                            font-size: 1.8rem;
                            color: $color-grey;
                        }
                    }
                }

                .form-control-number {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: end;

                    .pointsLabel {
                        font-family: $font-secondary;
                        font-size: 1.4rem;
                        color: $color-grey;
                    }

                    .pointsInput {
                        font-size: 1.8rem;
                        margin-right: 2rem;
                        border: none;
                        width: 6.7rem;
                        height: 5rem;
                        color: $color-black;
                        padding-left: 2rem;
                        background-color: inherit;

                        &:focus {
                            background-color: inherit;
                        }
                    }
                }

                .update__submit--btn {
                    height: 2.4rem;
                    width: 2.4rem;
                    margin-right: 2rem;
                    // margin-left: 2rem;
                    border-radius: 1.2rem;
                    background-color: $color-primary-boy;
                    color: $color-white;
                }
            }
        }
    }
}