

.addClassBtn {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 7.6rem;
    right: 0rem;
    font-size: 2rem;
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 2.25em;
    color: $color-white;
    background-color: $color-primary-boy;

    @include respond(px785) {
        align-items: stretch;
    }
    

    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        i {
            color: $color-white;
            font-size: 3rem;
        }
    }
}

.classrooms__container {
    width: 120rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-between;
    // overflow: auto;
    height: 100%;
    position: relative;
    margin-bottom: 2rem;

    
    @include respond(px1300) {
        width: 100%;
        padding: 0 10rem;
    }


    // @include respond(px1050) {
    //     width: 90rem;
    // }

    
    
    
    .class__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 27.75rem;
        position: relative;
        border: 1px solid $color-light-grey;
        margin-bottom: 3rem;

        // @include respond(px1300) {
        //     // min-width: calc((100% - 6rem) / 3);
        //     background-color: yellow;
            
        //     // &:not(:nth-child(3n)) {
        //     //     margin-right: 3rem;
                
        //     // }
        // }

       
        // @include respond(px1100) {
        //     background-color: blue;
        // }

        

        @include respond(px1300) {
            background-color: yellow;
        }

        @include respond(px1200) {
            background-color: pink;
        }

        @include respond(px785) {
            background-color: red;
        }



        

        

        

       


        
        

        
        
        // @include respond(px1100) {
        //     // min-width: calc((100% - 3rem) / 2);
            
        //     background-color: pink;

        //     // font-size: .2rem;

        //     // &:not(:nth-child(3n)) {
        //     //     margin-right: 0;
        //     // }

        //     // &:not(:nth-child(2n)) {
        //     //     margin-right: 3rem;
        //     // }
        // }

        // @include respond(px785) {
        //     // min-width: 100%;
            
        //     background-color: red;

        // //     &:not(:nth-child(3n)) {
        // //         margin-right: 0;
        // //     }

        // //     &:not(:nth-child(2n)) {
        // //         margin-right: 0rem;
        // //     }
        // }

    
        


        




        
        
        

        // @include respond(px1050) {
        //     width: 27.8rem;
        // }
        

        .trashBtn {
            position: absolute;
            top: 2rem;
            right: 2rem;
            font-size: 1.5rem;
            display: none;

            a {
                color: red;
            }
        }

        .class-title {
            margin-top: 4.1rem;
            margin-bottom: 2.8rem;
            font-size: 2rem;
            font-weight: bold;
            font-family: $font-secondary;
            a {
                text-decoration: none;
                color: $color-primary-boy;
            }
         
        }

        .class {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-bottom: 2rem;
            font-family: $font-secondary;
            font-weight: 600;

            

            li {
                list-style: none;
                width: 21.33rem;
                text-align: center;
                a {
                    text-decoration: none;
                }
            }

           

            .game-link {
                font-size: 1.8rem;
                color: $color-black;
                margin: 1.25rem;

               
                
                &:not(:last-of-type) {
                    padding-bottom: 2rem;
                    border-bottom: 2px solid $color-light-grey;
                }

                a {
                    text-decoration: none;
                    color: black;
                }
            }
        }

        &:hover .trashBtn {
            display: block;
        }
    } 

}