

.student {
    

    &__gender {
        .male {
            color: skyblue;
        }

        .female {
            color: pink;
        }
    }
}

.hide {
    display: none;
}

.currentStudent {
    border: 1px solid red;
}

.nextStudent {
    border-bottom: 1px solid pink;
}