.form__container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
   
    .form-main {
        .inputs__container {

            display: flex;
            flex-direction: row;
    
            &-small {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
        
                // width: 36rem;
        
        
                .form-control {
                    display: flex;
                    flex-direction: column;
                    
                    align-items: flex-start;
                    
                    label {
                        margin-left: 1.5rem;
                        margin-bottom: .9rem;
        
                        font-family: $font-secondary;
                        font-size: 1.4rem;
                        font-weight: 600;
                        text-transform: uppercase;
                        
                    }
        
                    input {
                        height: 5rem;
                        width: 36rem;
                        border-radius: 2.5rem;
                        border: 1px solid $color-light-grey;
                        padding-left: 2rem;
                        font-size: 2rem;        
                    }
        
                    .error-message {
                        display: none;
                    }
        
                    &:not(:last-of-type) {
                        margin-bottom: 3.6rem;
                    }
                }
    
                &:not(:last-of-type) {
                    margin-right: 8.1rem;
                }
            }
        }
        
    }
    .form-change-route {
        color: $color-grey;
        font-family: $font-secondary;
        font-size: 1.4rem;
        font-weight: 600;
        margin-top: 3rem;

        a {
            color: $color-primary-girl;
        }
    }

    .form-secondary {
        width: 43.5rem;
        // background-color: pink;
        .form-control {

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 4rem;

            
            label {
                font-family: $font-secondary;
                font-size: 2rem;
                font-weight: bold;
                color: $color-primary-boy;
            }

            .add-class-name {
                width: 26rem;
                height: 4rem;
                border: none;
                font-size: $font-secondary;
                font-weight: bold;
                font-size: 2rem;
                color: $color-grey;
                padding-left: 1rem;
                border-bottom: 1px solid $color-light-grey;
            }

            .add-students-label {
                align-self: flex-start;
                margin-top: 1.4rem;
            }

            .add-class {
                
                width: 26rem;
                display: flex;
                flex-direction: column;
                align-items: stretch;

        

                .form-btn {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    font-family: $font-secondary;
                    font-size: 1.8rem;
                    font-weight: bold;
                    color: $color-grey;
                    border: 1px solid $color-light-grey;
                    height: 5.5rem;
                    width: 100%;
                    background-color: white;
                    margin-bottom: 3rem;
                    cursor: pointer;

                }

                .file-value {
                    display: none;
                    font-family: $font-secondary;
                    font-size: 2rem;
                    font-weight: bold;
                    color: $color-grey;
                    margin-bottom: 3rem;
                    border-bottom: 1px solid $color-light-grey;
                }

                .file-input {
                    display: none;
                }

                .form-btn.upload-file {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    font-family: $font-main;
                    font-size: 2rem;
                    font-weight: 800;
                    color: $color-white;
                    background-color: $color-primary-girl;
                    background-color: pink;
                    border: none;
                    border-radius: 2.5rem;
                    height: 5rem;
                    width: 100%;
                    cursor: pointer;
                }
            }
        }
    }
    .form__add-student {
        width: 120rem;
        height: 7rem;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        border: 1px solid $color-light-grey;
        font-size: 2rem;
        font-weight: bold;
        color: $color-primary-boy;
        margin-bottom: 6.3rem;

        @include respond(px1300) {
            width: calc(100% - 20rem);
        }

        @include respond(px950) {
            width: 50rem;
            height: 13rem;
            justify-content: center;
        }

        .form-control {
            width: 50%;
            
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            

            @include respond(px950) {
                width: 75%;
                margin: 2rem 0;
                align-items: flex-start;
            }

            .addStudentName {
                padding-left: 4.1rem;
                padding-right: 1rem;

                @include respond(px950) {
                    padding-left: 0;
                }
            }

            .addStudentName-input {
                width: 35.7rem;
                color: $color-grey;
                font-family: $font-secondary;
                font-size: 2rem;
                border: none;
                border-bottom: 1px solid $color-light-grey;
                padding-left: 1rem;
                cursor: pointer;

                

                &:focus {
                    outline: 1px solid $color-primary-boy;
                }
            }

        }

        .form-control-radios {
            flex: 1;
            margin-left: 2rem;

            display: flex;
            flex-direction: row;
            justify-self: start;
            align-items: center;
           
            @include respond(px950) {
                max-width: 75%;
                margin-bottom: 2rem;
                margin-left: 0;
            }

            h3 {
                font-size: 2rem;
            }

            .radio-control  {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-left: 3rem;

                .gender-radio-label {
                    padding-left: 2rem;
                    color: $color-grey;
                }
    
                .gender-radio {
                    // cursor: pointer;
                    // position: absolute;
                    visibility: hidden;
                    // top: auto;
                    // overflow: hidden;
                    // clip: rect (1px, 1px, 1px, 1px);
                    // width: 1px;
                    // height: 1px;
                    // white-space: nowrap;
                }

                .gender-radio + .gender-radio-label::before {
                    content: '';
                    background-color: #fff;
                    border: .3rem solid $color-light-grey;
                    border-radius: 100%;
                    display: block;
                    box-sizing: border-box;
                    float: left;
                    width: 2.4rem;
                    height: 2.4rem;
                    margin-left: -1.5em;
                    margin-top: .15em;
                    vertical-align: top;
                    cursor: pointer;
                    text-align: center;
                    transition: all .12s ease-out;
                }

                .gender-radio:checked + label::before {
                    background-color: $color-primary-boy;
                    box-shadow: inset 0 0 0 .15em $color-primary-boy;
                }
            }
        }

        .add__submit--btn {
            align-self: flex-end;
            margin-left: auto;
            margin-right: 3rem;
            height: 3.6rem;
            width: 3.6rem;
            border-radius: 1.8rem;
            border: none;
            background-color: $color-primary-boy;
            cursor: pointer;

            @include respond(px950) {
                margin-right: 0;
            }
            
            
            i {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                font-size: 2rem;
                color: white;
            }
        }

    }

    
}