// body {
//     background-color: pink;
// }
main {

    background-color: pink;
    .errors {

    }

    .options {

        button {

            li {

            }
        }
    }

    .game__container {

        background-color: yellow;
        .buttons {

            .next {

            }
        }

        .teams {

            background-color: skyblue;
            .team {

                .teamName {

                }

                .teamPoint {

                    button {

                    }

                    .add {

                    }

                    .minus {

                    }

                    .teamPointValue {

                    }
                }

                .teamList {

                    list-style-type: none;

                    .currentTitle {

                    }

                    .nextTitle {

                    }

                    .currentStudent {

                    }

                    .nextStudent {

                    }

                    .student {

                        
                        .name {

                        }

                        button {

                        }

                        .points {

                        }


                    }
                }
            }
        }
    }


}