.title__container {
   
}


main {
    
    .optionsContainer {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 6rem;
        

        .options {
           

            .game-Btn {
                height: 4.8rem;
                width: 4.8rem;
                border-radius: 2.4rem;
                border: none;
                color: $color-white;
                font-size: 2rem;


                &:not(:first-of-type) {
                    margin-left: 1.2rem;
                }

                i {

                }
            }
            .shuffle-studentsBtn {
                background-color: $color-primary-girl;
            }
            .refresh-studentsBtn {
                background-color: $color-primary-pink;
            }
            .playGameBtn {
                background-color: $color-primary-boy;
            }
        }
        
        .gameForm {
            
           
            label {
                


            }
            
            input[type=number] {
                


            }
        }

        .options {
            
            

           
            
            }
            .playGameBtn {
                

           
        }
    
    }
    

    
    .game__container {
        
        .buttons {
            
            .next,
            .previous {
                
            }
        }

        .teams,
        .preview__teams {
            
            

            // background-color: yellow;
            // background-color: skyblue;
            .team {
                
                border: 1px solid $color-light-grey;
                
                &:first-of-type {
                    
                }


                &:not(:last-of-type) {
                    
                }
                .teamName {
                    
                    
                }

                .teamList {
                    
                }

                
                
            }
        }
        .preview__teams {
            width: 27.8rem;

            .team {
                

                .teamList {
                    list-style: none;
                    font-family: $font-secondary;
                    font-size: 1.8rem;
                    padding: 3.5rem 4.5rem;

                    .student {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: flex-end;
                        height: 5rem;
                        padding: 0 1rem;
                        
                        .student-name {
                            flex: 1;
                            color: $color-black;
                        }
                        .student-gender {
                            color: $color-grey;
                            font-weight: 600;
                            padding: 0 1rem;
                        }
                        .deleteStudent {
                            
                            display: none;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            width: 2.4rem;
                            height: 2.4rem;
                            border-radius: 1.2rem;
                            background-color: $color-primary-pink;
                        }

                        &:hover {
                            background-color: $color-very-light-grey;
                            .deleteStudent {
                                display: flex;
                                
                            }
                        }
                        
                    }
                }
            }
        }


        .teams{
            
            .teamName {
                
            }

            .teamPoint {


                button {
                    
                    i {
                        
                    }
                }

                .add {
                    


                }

                .minus {

                }

                .teamPointValue {
                    
                }
            }

            .teamList {

                

                .currentTitle {
                    
                }

                .nextTitle {
                    
                }

                .currentStudent {
                    
                }

                .nextStudent {
                    
                }

                .student {
                   
                    
                    
                    
                    .name {
                        
                        
                    }

                    button {
                        

                        i {
                            
                        }
                    }

                    .points {
                        
                    }


                }
            }
        }
    }


}