.info__paragraph {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include respond(px1300) {
        padding: 0 10rem;
    }

    @include respond(game-mode) {
        padding: 0 5rem;
    }
    

    & > * {
        margin-bottom: 3rem;
        font-size: 2rem;
        text-align: center;
    }
}