body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
   
}

main {
    width: 120rem;
    
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;  

    @include respond(px1300) {
        width: 100%;
    } 
    
}

.align-middle {
    justify-content: center;
}

.align-top {
    justify-content: flex-start;
}

.align-right {
    padding-right: 3rem;
    align-self: flex-end;
    align-items: flex-end;
    justify-content: end;
    width: 50rem;
    position: relative;
}



header {
    // min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: pink;
}

footer {
    align-self: flex-end;
}