.form__container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .inputs__container {

        display: flex;
        flex-direction: row;

        &-small {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
    
            // width: 36rem;
    
    
            .form-control {
                display: flex;
                flex-direction: column;
                
                align-items: flex-start;
                
                label {
                    margin-left: 1.5rem;
                    margin-bottom: .9rem;
    
                    font-family: $font-secondary;
                    font-size: 1.4rem;
                    font-weight: 600;
                    text-transform: uppercase;
                    
                }
    
                input {
                    height: 5rem;
                    width: 36rem;
                    border-radius: 2.5rem;
                    border: 1px solid $color-light-grey;
                    padding-left: 2rem;
                    font-size: 2rem;

                
    
                }
    
                .error-message {
                    display: none;
                }
    
                &:not(:last-of-type) {
                    margin-bottom: 3.6rem;
                }
            }

            &:not(:last-of-type) {
                margin-right: 8.1rem;
            }
        }
    }
    .form-change-route {
        color: $color-grey;
        font-family: $font-secondary;
        font-size: 1.4rem;
        font-weight: 600;
        margin-top: 2.3rem;

    }
}