.navbar {
    width: 100vw;
    // width:100%;
    height: 8rem;

    // background-color: $color-white;
    // border: 1px solid $color-light-grey;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    

    &__container {

        height: 100%;
        // // margin: 0 12rem;
        width: 120rem;
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
       
        
        @include respond(px1300) {
            width: 100%;
            margin: 0 10rem;
        }

        // @include respond(px1050) {
        //     width: 90rem;
        // }

        // @include respond(px900) {
        //     min-width: 100%;
        // }

        

        
    }
    
    &__brand {
       
        text-decoration: none;
        font-weight: 800;
        font-size: 2.4rem;
        color: $color-primary-girl;
        text-transform: uppercase;
    }

    &__brand .text-style-1 {
        color: $color-primary-boy;
    }

    &__links {
        list-style-type: none;
        display: flex;
        flex-direction: row;

        font-weight: 300;
        font-size: 1.8rem;
        color: $color-black;
        li {
            .navbar__link {
                text-decoration: none;
                
                &:visited {
                    color: $color-black;
                    text-decoration: none;
                }

                &:hover {
                    // color: $color-primary;
                    transform: scale(1.2);
                }
                &:active {
                    transform: scale(1.1);
                }
            }
            &:not(:last-of-type) {
                margin-right: 6.3rem;
            }
        }
    }

    
}