<nav class="navbar">
    <div class="navbar__container">
        <a href="/" class="navbar__brand" id="navbar__brand">Class Point</a>
        <ul class="navbar__links">
            <li><a class="navbar__link" href="/me">Classes</a></li>
            <li><a class="navbar__link" href="/users/login">Login</a></li>
            <li><a class="cta__button" href="/users/">SignUp</a></li>
        
            <li><a class="navbar__link" href="/users/logout">Logout</a></li>
            <li class="dropdown__menu-item"><a href="/users/update">Edit Account</a></li>
        </ul>
    </div>
</nav>
