<div class="options">
    <button class="option-Btn refresh-studentsBtn"><i class="fas fa-sync-alt"></i></button>
    <button class="option-Btn shuffle-studentsBtn"><i class="fas fa-random"></i></button>
    <button class="option-Btn refresh-gameBtn hide"><i class="fas fa-sync-alt"></i></button>
    <button class="option-Btn save-gameBtn hide"><i class="fas fa-save"></i></button>
    <button class="option-Btn playAgainBtn hide"><i class="fas fa-sync-alt"></i></button>
    <button class="option-Btn goToClassroomBtn hide"><i class="fas fa-home"></i></button>
</div>