<div class="options">
    <button class="game-Btn shuffle-studentsBtn"><i class="fas fa-random"></i></button>
    <button class="game-Btn refresh-studentsBtn"><i class="fas fa-sync-alt"></i></button>
    <button class="game-Btn refresh-gameBtn hide"><i class="fas fa-sync-alt"></i></button>
    <button class="game-Btn save-gameBtn hide"><i class="fas fa-save"></i></button>
    <button class="game-Btn playGameBtn"><i class="fas fa-play"></i></button>
    <button class="game-Btn playAgainBtn hide"><i class="fas fa-sync-alt"></i></button>
    <button class="game-Btn goToClassroomBtn hide"><i class="fas fa-home"></i></button>
    <button class="game-Btn previous hide"><i class="fas fa-angle-double-left"></i></button>
    <button class="game-Btn previous-student hide"><i class="fas fa-angle-left"></i></button>
    <button class="game-Btn next-student hide"><i class="fas fa-angle-right"></i></button>
    <button class="game-Btn next hide"><i class="fas fa-angle-double-right"></i></button>
</div>