.title1__container {
    margin: 7.6rem 0;
    position: relative;
    z-index: 1;

    @include respond(px950) {
        margin: 5rem 0;
    }

    .title-1 {
        position: relative;
        font-family: $font-main;
        font-size: 3.2rem;
        font-weight: 800;
        color: $color-primary-girl;
        z-index: 2;
    }
    &:before {
        content: "";
        border-top: 1.2rem solid $color-primary-boy;
        width: 120%;
        position: absolute;
        top: 50%;
        left: -10%; 
        right: 0;
        bottom: 0;
    }

    @include respond(game-mode) {
        margin: 3rem 0;
    }
}

.title-2 {
    font-size: 3.2rem;
    font-weight: 800;
    color: $color-primary-boy;
    // margin-bottom: 5rem;
    align-self: center;
    a {
        text-decoration: none;
        color: inherit;
    }
}

.title3__container {
    margin-right: 1rem;
    

    .title-3 {
        writing-mode: tb-rl;
        font-family: $font-main;
        font-size: 3.2rem;
        font-weight: 800;
        color: $color-primary-girl;
    }

}


.m-b-xl {
    margin-bottom: 8.7rem;
}

.m-b-l {
    margin-bottom: 7.9rem;

    @include respond(px950) {
        margin-bottom: 5rem;
    }
}

.m-b-m {
    margin-bottom: 6rem;
}

.m-b-s {
    margin-bottom: 1.6rem;
}








.submitBtn,
.cta__button {
    height: 5rem;
    width: 13.6rem;
    margin-top: 6.4rem;
    font-family: $font-main;
    font-size: 2rem;
    font-weight: 800;
    color: $color-white;
    background-color: $color-primary-boy;
    border-radius: 2.5rem;
    border: none;
}

.cta__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    a {
        text-decoration: none;
        color: $color-white;
    }
}

.student {
    
    &__gender {
        .male {
            color: skyblue;
        }

        .female {
            color: pink;
        }
    }
}

.hide {
    display: none;
}



.icon-male {
    color: blue;
}

.icon-female {
    color: pink;
}

.student {

    .name {

    }
}

.errors {
    font-size: 2rem;
    color: $color-primary-pink;
}



/////////////////////////////////////////////////
// FOOTER
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 4rem;
    width: 100vw;
    border: 1px solid $color-light-grey;
    font-family: OpenSans;
    padding: 1rem 0;

    text-transform: uppercase;

}