// @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,500&display=swap');

//FONT
$font-main: 'Gilroy', sans-serif;
$font-secondary: 'Open Sans';
// $font-secondary: 'crazy8';


// COLORS
$color-primary-boy: #7bc0bd;
$color-primary-girl: #4b3d6d;
$color-primary-pink: #e27488;
$color-black: #302929;
$color-white: #fff;
$color-grey: #bdbdbd;
$color-light-grey: #eaeaea;
$color-very-light-grey: rgba(234, 234, 234, 0.4);
$color-grey-secondary: #f0f0fb;

$color-success: #2ecc71;
$color-error: #e74c3c;