* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  box-sizing: inherit;
  font-size: 62.5%; }

body {
  font-weight: 400;
  line-height: 1.6;
  width: 100vw;
  height: 100vh;
  font-family: "Gilroy", sans-serif; }

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }

main {
  margin: 0 12rem;
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; }

.align-middle {
  justify-content: center; }

.align-top {
  justify-content: flex-start; }

.align-right {
  margin-right: 5rem;
  align-items: flex-end; }

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; }

.navbar {
  width: 100vw;
  height: 8rem;
  background-color: #fff;
  border: 1px solid #eaeaea; }
  .navbar__container {
    height: 100%;
    margin: 0 12rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .navbar__brand {
    text-decoration: none;
    font-weight: 800;
    font-size: 2.4rem;
    color: #4b3d6d;
    text-transform: uppercase; }
  .navbar__brand .text-style-1 {
    color: #7bc0bd; }
  .navbar__links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    font-weight: 300;
    font-size: 1.8rem;
    color: #302929; }
    .navbar__links li .navbar__link {
      text-decoration: none; }
      .navbar__links li .navbar__link:visited {
        color: #302929;
        text-decoration: none; }
      .navbar__links li .navbar__link:hover {
        transform: scale(1.2); }
      .navbar__links li .navbar__link:active {
        transform: scale(1.1); }
    .navbar__links li:not(:last-of-type) {
      margin-right: 6.3rem; }

.title1__container {
  margin-top: 7.6rem;
  position: relative;
  z-index: 1; }
  .title1__container .title-1 {
    position: relative;
    font-family: "Gilroy", sans-serif;
    font-size: 3.2rem;
    font-weight: 800;
    color: #4b3d6d;
    z-index: 2; }
  .title1__container:before {
    content: "";
    border-top: 1.2rem solid #7bc0bd;
    width: 120%;
    position: absolute;
    top: 50%;
    left: -10%;
    right: 0;
    bottom: 0; }

.m-b-xl {
  margin-bottom: 8.7rem; }

.m-b-l {
  margin-bottom: 7.9rem; }

.m-b-m {
  margin-bottom: 6rem; }

.m-b-s {
  margin-bottom: 1.6rem; }

.title-2 {
  font-size: 3.2rem;
  font-weight: 800;
  color: #7bc0bd;
  align-self: center; }

.submitBtn {
  height: 5rem;
  width: 13.6rem;
  margin-top: 6.4rem;
  font-family: "Gilroy", sans-serif;
  font-size: 2rem;
  font-weight: 800;
  color: white;
  background-color: #7bc0bd;
  border-radius: 2.5rem;
  border: none; }

.student__gender .male {
  color: skyblue; }

.student__gender .female {
  color: pink; }

.hide {
  display: none; }

.icon-male {
  color: blue; }

.icon-female {
  color: pink; }

.errors {
  font-size: 2rem;
  color: #e27488; }

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 100vw;
  border: 1px solid #eaeaea;
  font-family: OpenSans;
  padding: 1rem 0;
  text-transform: uppercase; }

.optionsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem; }
  .optionsContainer .gameForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 5.4rem; }
    .optionsContainer .gameForm .team_number_label {
      font-family: "Open Sans";
      font-size: 2rem;
      font-weight: bold;
      color: #7bc0bd;
      padding-right: 1.5rem; }
    .optionsContainer .gameForm .team_number {
      width: 9.5rem;
      padding: 1rem;
      font-family: "Open Sans";
      font-size: 2rem;
      font-weight: bold;
      text-align: center; }
  .optionsContainer .options .game-Btn {
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 2.4rem;
    border: none;
    color: #fff;
    font-size: 2rem; }
    .optionsContainer .options .game-Btn:not(:first-of-type) {
      margin-left: 1.2rem; }
  .optionsContainer .options .shuffle-studentsBtn {
    background-color: #4b3d6d; }
  .optionsContainer .options .refresh-studentsBtn,
  .optionsContainer .options .refresh-gameBtn,
  .optionsContainer .options .playAgainBtn {
    background-color: #e27488; }
  .optionsContainer .options .playGameBtn {
    background-color: #7bc0bd; }
  .optionsContainer .options .save-gameBtn,
  .optionsContainer .options .goToClassroomBtn {
    background-color: #302929; }

.game__container .buttons {
  display: flex;
  flex-direction: row;
  margin: 0 3.5rem; }
  .game__container .buttons .next,
  .game__container .buttons .previous {
    flex: 1;
    height: 4.8rem;
    border-radius: 2.4rem;
    background-color: #7bc0bd;
    color: #fff;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-family: "Open Sans";
    font-weight: bold;
    border: none; }

.game__container .teams,
.game__container .preview__teams {
  width: 27.8rem;
  margin-bottom: 3rem; }
  .game__container .teams .team,
  .game__container .preview__teams .team {
    margin-bottom: 1rem;
    border: 1px solid #eaeaea; }
    .game__container .teams .team .teamList,
    .game__container .preview__teams .team .teamList {
      list-style: none;
      font-family: "Open Sans";
      font-size: 1.8rem;
      padding: 0 3.5rem; }

.game__container .preview__teams .team .teamName {
  margin-top: 2rem;
  width: 100%;
  text-align: center;
  color: #7bc0bd;
  font-size: "Open Sans";
  font-size: 2rem;
  font-weight: bold; }

.game__container .preview__teams .team .teamList .student {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 4rem;
  padding: 0 1rem; }
  .game__container .preview__teams .team .teamList .student .student-name {
    flex: 1;
    color: #302929; }
  .game__container .preview__teams .team .teamList .student .student-gender {
    color: #bdbdbd;
    font-weight: 600;
    padding: 0 1rem; }
  .game__container .preview__teams .team .teamList .student .deleteStudent {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 1.2rem;
    background-color: #e27488; }
  .game__container .preview__teams .team .teamList .student:hover {
    background-color: rgba(234, 234, 234, 0.4); }
    .game__container .preview__teams .team .teamList .student:hover .deleteStudent {
      display: flex; }

.game__container .teams .team-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 5rem;
  padding: 0 3.5rem;
  background-color: rgba(234, 234, 234, 0.4); }
  .game__container .teams .team-info .teamName {
    width: 100%;
    margin: 0;
    color: #7bc0bd;
    font-size: "Open Sans";
    font-size: 2rem;
    font-weight: bold; }
  .game__container .teams .team-info .teamPoint {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .game__container .teams .team-info .teamPoint button {
      width: 3rem;
      height: 3rem;
      border-radius: 1.5rem;
      background-color: #302929;
      margin-right: .5rem;
      border: none; }
      .game__container .teams .team-info .teamPoint button i {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        width: 100%;
        height: 100%; }
    .game__container .teams .team-info .teamPoint .teamPointValue {
      font-size: 3rem;
      font-family: "Open Sans";
      font-weight: bold;
      width: 2rem;
      text-align: right; }

.game__container .teams .teamList .currentStudent .name {
  color: #4b3d6d !important; }

.game__container .teams .teamList .nextStudent .name {
  color: #e27488 !important; }

.game__container .teams .teamList .student {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 4rem; }
  .game__container .teams .teamList .student .name {
    flex: 1;
    color: #302929;
    text-align-last: left; }
  .game__container .teams .teamList .student button {
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    background-color: #bdbdbd;
    margin-right: .5rem;
    border: none; }
    .game__container .teams .teamList .student button i {
      color: #fff;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
  .game__container .teams .teamList .student .points {
    font-size: 3rem;
    font-family: "Open Sans";
    font-weight: bold;
    width: 2rem;
    text-align: right; }

.game__container .winningStudentContainer {
  width: 27.8 rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .game__container .winningStudentContainer .winningStudentTitle {
    font-size: 2rem;
    color: #7bc0bd; }
  .game__container .winningStudentContainer .firstPlace .winnerName {
    font-size: 2rem;
    color: #302929; }

.form__container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  .form__container .form-main .inputs__container {
    display: flex;
    flex-direction: row; }
    .form__container .form-main .inputs__container-small {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start; }
      .form__container .form-main .inputs__container-small .form-control {
        display: flex;
        flex-direction: column;
        align-items: flex-start; }
        .form__container .form-main .inputs__container-small .form-control label {
          margin-left: 1.5rem;
          margin-bottom: .9rem;
          font-family: "Open Sans";
          font-size: 1.4rem;
          font-weight: 600;
          text-transform: uppercase; }
        .form__container .form-main .inputs__container-small .form-control input {
          height: 5rem;
          width: 36rem;
          border-radius: 2.5rem;
          border: 1px solid #eaeaea;
          padding-left: 2rem;
          font-size: 2rem; }
        .form__container .form-main .inputs__container-small .form-control .error-message {
          display: none; }
        .form__container .form-main .inputs__container-small .form-control:not(:last-of-type) {
          margin-bottom: 3.6rem; }
      .form__container .form-main .inputs__container-small:not(:last-of-type) {
        margin-right: 8.1rem; }
  .form__container .form-main .form-change-route {
    color: #bdbdbd;
    font-family: "Open Sans";
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 2.3rem; }
  .form__container .form-secondary {
    width: 43.5rem; }
    .form__container .form-secondary .form-control {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 4rem; }
      .form__container .form-secondary .form-control label {
        font-family: "Open Sans";
        font-size: 2rem;
        font-weight: bold;
        color: #7bc0bd; }
      .form__container .form-secondary .form-control .add-class-name {
        width: 26rem;
        height: 4rem;
        border: none;
        font-size: "Open Sans";
        font-weight: bold;
        font-size: 2rem;
        color: #bdbdbd;
        padding-left: 1rem;
        border-bottom: 1px solid #eaeaea; }
      .form__container .form-secondary .form-control .add-students-label {
        align-self: flex-start;
        margin-top: 1.4rem; }
      .form__container .form-secondary .form-control .add-class {
        width: 26rem;
        display: flex;
        flex-direction: column;
        align-items: stretch; }
        .form__container .form-secondary .form-control .add-class .form-btn {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-family: "Open Sans";
          font-size: 1.8rem;
          font-weight: bold;
          color: #bdbdbd;
          border: 1px solid #eaeaea;
          height: 5.5rem;
          width: 100%;
          background-color: white;
          margin-bottom: 3rem;
          cursor: pointer; }
        .form__container .form-secondary .form-control .add-class .file-value {
          display: none;
          font-family: "Open Sans";
          font-size: 2rem;
          font-weight: bold;
          color: #bdbdbd;
          margin-bottom: 3rem;
          border-bottom: 1px solid #eaeaea; }
        .form__container .form-secondary .form-control .add-class .file-input {
          display: none; }
        .form__container .form-secondary .form-control .add-class .form-btn.upload-file {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-family: "Gilroy", sans-serif;
          font-size: 2rem;
          font-weight: 800;
          color: #fff;
          background-color: #4b3d6d;
          background-color: pink;
          border: none;
          border-radius: 2.5rem;
          height: 5rem;
          width: 100%;
          cursor: pointer; }
  .form__container .form__add-student {
    width: 79rem;
    height: 7rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #eaeaea;
    font-size: 2rem;
    font-weight: bold;
    color: #7bc0bd;
    margin-bottom: 6.3rem; }
    .form__container .form__add-student .form-control .addStudentName {
      padding-left: 4.1rem;
      padding-right: 1rem; }
    .form__container .form__add-student .form-control .addStudentName-input {
      width: 19.9rem;
      color: #bdbdbd;
      font-family: "Open Sans";
      font-size: 2rem;
      border: none;
      border-bottom: 1px solid #eaeaea;
      padding-left: 1rem; }
    .form__container .form__add-student .form-control-radios {
      display: flex;
      flex-direction: row;
      justify-self: start;
      align-items: center; }
      .form__container .form__add-student .form-control-radios h3 {
        font-size: 2rem; }
      .form__container .form__add-student .form-control-radios .radio-control {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 3rem; }
        .form__container .form__add-student .form-control-radios .radio-control .gender-radio-label {
          padding-left: 1.5rem;
          color: #bdbdbd; }
        .form__container .form__add-student .form-control-radios .radio-control .gender-radio {
          cursor: pointer; }
    .form__container .form__add-student .add__submit--btn {
      margin-right: 3rem;
      height: 3.6rem;
      width: 3.6rem;
      border-radius: 1.8rem;
      border: none;
      background-color: #7bc0bd; }
      .form__container .form__add-student .add__submit--btn i {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        font-size: 2rem;
        color: white; }

.addClassBtn {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 7.6rem;
  right: 12rem;
  font-size: 2rem;
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 2.25em;
  color: #fff;
  background-color: #7bc0bd; }
  .addClassBtn a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none; }
    .addClassBtn a i {
      color: #fff;
      font-size: 3rem; }

.classrooms__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: space-between;
  overflow: auto;
  height: 100%;
  position: relative;
  margin-bottom: 2rem;
  width: 100vw;
  padding: 0 12rem; }
  .classrooms__container .class__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 27.8rem;
    position: relative;
    border: 1px solid #eaeaea;
    margin: 0 1.4rem 3.5rem 0; }
    .classrooms__container .class__container:nth-child(4n) {
      margin-right: 0; }
    .classrooms__container .class__container .trashBtn {
      position: absolute;
      top: 2rem;
      right: 2rem;
      font-size: 1.5rem;
      display: none; }
      .classrooms__container .class__container .trashBtn a {
        color: red; }
    .classrooms__container .class__container .class {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-bottom: 2rem;
      font-family: "Open Sans";
      font-weight: 600; }
      .classrooms__container .class__container .class li {
        list-style: none; }
        .classrooms__container .class__container .class li a {
          text-decoration: none; }
      .classrooms__container .class__container .class .class-title {
        margin-top: 3.9rem;
        font-size: 2rem; }
        .classrooms__container .class__container .class .class-title a {
          color: #7bc0bd; }
      .classrooms__container .class__container .class .game-link {
        font-size: 1.8rem;
        color: #302929;
        margin: 1.25rem; }
        .classrooms__container .class__container .class .game-link:not(:last-of-type) {
          padding-bottom: 2rem;
          border-bottom: 2px solid #eaeaea; }
        .classrooms__container .class__container .class .game-link a {
          text-decoration: none;
          color: black; }
    .classrooms__container .class__container:hover .trashBtn {
      display: block; }

.choose-game {
  width: 79rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
  font-family: "Gilroy", sans-serif;
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 6.3rem; }
  .choose-game-button {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    cursor: pointer;
    width: 24rem;
    height: 4.9rem;
    border-radius: 2.45rem;
    background-color: #f0f0fb; }
    .choose-game-button:hover {
      background-color: #4b3d6d; }
      .choose-game-button:hover a {
        color: #fff; }
    .choose-game-button:not(:last-of-type) {
      margin-right: 3.7rem; }
    .choose-game-button a {
      text-decoration: none;
      color: #4b3d6d; }

.errors {
  font-size: 2rem;
  color: #e27488; }

.student__list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  list-style: none;
  width: 99.3rem; }
  .student__list .studentContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    width: 48.2rem;
    border-bottom: 1px solid #eaeaea; }
    .student__list .studentContainer .student {
      width: 100%;
      height: 5rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      font-family: "Open Sans";
      font-size: 1.8rem;
      color: #302929; }
      .student__list .studentContainer .student .student__name {
        flex: 1; }
      .student__list .studentContainer .student .studentTotalPoints .pointsLabel {
        font-size: 1.4rem;
        color: #bdbdbd; }
      .student__list .studentContainer .student .studentTotalPoints .totalPoints {
        margin-right: 2rem;
        margin-left: 1.7rem;
        font-size: 1.8rem;
        color: #302929; }
      .student__list .studentContainer .student .student-edit {
        display: none;
        margin-right: 2rem; }
        .student__list .studentContainer .student .student-edit .student-edit-button {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 2.4rem;
          width: 2.4rem;
          font-size: 1.2rem;
          border-radius: 1.2rem;
          color: #fff; }
          .student__list .studentContainer .student .student-edit .student-edit-button-edit {
            background-color: #4b3d6d;
            margin-right: 1rem; }
          .student__list .studentContainer .student .student-edit .student-edit-button-delete {
            background-color: #e27488;
            text-decoration: none; }
      .student__list .studentContainer .student:hover .student-edit {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between; }
    .student__list .studentContainer .update__form {
      font-size: 1.8rem;
      background-color: rgba(234, 234, 234, 0.4); }
      .student__list .studentContainer .update__form .form__update {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        height: 5rem; }
        .student__list .studentContainer .update__form .form__update .update__name {
          margin-right: auto;
          border: none;
          font-size: 1.8rem;
          color: #302929;
          max-width: 14rem;
          height: 100%;
          background-color: inherit; }
        .student__list .studentContainer .update__form .form__update .form-control-radios {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: end;
          margin-right: 3.1rem; }
          .student__list .studentContainer .update__form .form__update .form-control-radios .radio-control {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between; }
            .student__list .studentContainer .update__form .form__update .form-control-radios .radio-control:not(:last-of-type) {
              margin-right: 1.3rem; }
            .student__list .studentContainer .update__form .form__update .form-control-radios .radio-control .gender-radio-label {
              margin-left: 2rem;
              font-family: "Open Sans";
              font-size: 1.8rem;
              color: #bdbdbd; }
        .student__list .studentContainer .update__form .form__update .form-control-number {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: end; }
          .student__list .studentContainer .update__form .form__update .form-control-number .pointsLabel {
            font-family: "Open Sans";
            font-size: 1.4rem;
            color: #bdbdbd; }
          .student__list .studentContainer .update__form .form__update .form-control-number .pointsInput {
            font-size: 1.8rem;
            margin-right: 2rem;
            border: none;
            width: 6.7rem;
            height: 5rem;
            color: #302929;
            padding-left: 2rem;
            background-color: inherit; }
            .student__list .studentContainer .update__form .form__update .form-control-number .pointsInput:focus {
              background-color: inherit; }
        .student__list .studentContainer .update__form .form__update .update__submit--btn {
          height: 2.4rem;
          width: 2.4rem;
          margin-right: 2rem;
          border-radius: 1.2rem;
          background-color: #7bc0bd;
          color: #fff; }

.optionsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem; }
  .optionsContainer .gameForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 5.4rem; }
    .optionsContainer .gameForm .team_number_label {
      font-family: "Open Sans";
      font-size: 2rem;
      font-weight: bold;
      color: #7bc0bd;
      padding-right: 1.5rem; }
    .optionsContainer .gameForm .team_number {
      width: 9.5rem;
      padding: 1rem;
      font-family: "Open Sans";
      font-size: 2rem;
      font-weight: bold;
      text-align: center; }
  .optionsContainer .options .game-Btn {
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 2.4rem;
    border: none;
    color: #fff;
    font-size: 2rem; }
    .optionsContainer .options .game-Btn:not(:first-of-type) {
      margin-left: 1.2rem; }
  .optionsContainer .options .shuffle-studentsBtn {
    background-color: #4b3d6d; }
  .optionsContainer .options .refresh-studentsBtn,
  .optionsContainer .options .refresh-gameBtn,
  .optionsContainer .options .playAgainBtn {
    background-color: #e27488; }
  .optionsContainer .options .playGameBtn {
    background-color: #7bc0bd; }
  .optionsContainer .options .save-gameBtn,
  .optionsContainer .options .goToClassroomBtn {
    background-color: #302929; }

.game__container .buttons {
  display: flex;
  flex-direction: row;
  margin: 0 3.5rem; }
  .game__container .buttons .next,
  .game__container .buttons .previous {
    flex: 1;
    height: 4.8rem;
    border-radius: 2.4rem;
    background-color: #7bc0bd;
    color: #fff;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-family: "Open Sans";
    font-weight: bold;
    border: none; }

.game__container .teams,
.game__container .preview__teams {
  width: 27.8rem;
  margin-bottom: 3rem; }
  .game__container .teams .team,
  .game__container .preview__teams .team {
    margin-bottom: 1rem;
    border: 1px solid #eaeaea; }
    .game__container .teams .team .teamList,
    .game__container .preview__teams .team .teamList {
      list-style: none;
      font-family: "Open Sans";
      font-size: 1.8rem;
      padding: 0 3.5rem; }

.game__container .preview__teams .team .teamName {
  margin-top: 2rem;
  width: 100%;
  text-align: center;
  color: #7bc0bd;
  font-size: "Open Sans";
  font-size: 2rem;
  font-weight: bold; }

.game__container .preview__teams .team .teamList .student {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 4rem;
  padding: 0 1rem; }
  .game__container .preview__teams .team .teamList .student .student-name {
    flex: 1;
    color: #302929; }
  .game__container .preview__teams .team .teamList .student .student-gender {
    color: #bdbdbd;
    font-weight: 600;
    padding: 0 1rem; }
  .game__container .preview__teams .team .teamList .student .deleteStudent {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 1.2rem;
    background-color: #e27488; }
  .game__container .preview__teams .team .teamList .student:hover {
    background-color: rgba(234, 234, 234, 0.4); }
    .game__container .preview__teams .team .teamList .student:hover .deleteStudent {
      display: flex; }

.game__container .teams .team-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 5rem;
  padding: 0 3.5rem;
  background-color: rgba(234, 234, 234, 0.4); }
  .game__container .teams .team-info .teamName {
    width: 100%;
    margin: 0;
    color: #7bc0bd;
    font-size: "Open Sans";
    font-size: 2rem;
    font-weight: bold; }
  .game__container .teams .team-info .teamPoint {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .game__container .teams .team-info .teamPoint button {
      width: 3rem;
      height: 3rem;
      border-radius: 1.5rem;
      background-color: #302929;
      margin-right: .5rem;
      border: none; }
      .game__container .teams .team-info .teamPoint button i {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        width: 100%;
        height: 100%; }
    .game__container .teams .team-info .teamPoint .teamPointValue {
      font-size: 3rem;
      font-family: "Open Sans";
      font-weight: bold;
      width: 2rem;
      text-align: right; }

.game__container .teams .teamList .currentStudent .name {
  color: #4b3d6d !important; }

.game__container .teams .teamList .nextStudent .name {
  color: #e27488 !important; }

.game__container .teams .teamList .student {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 4rem; }
  .game__container .teams .teamList .student .name {
    flex: 1;
    color: #302929;
    text-align-last: left; }
  .game__container .teams .teamList .student button {
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    background-color: #bdbdbd;
    margin-right: .5rem;
    border: none; }
    .game__container .teams .teamList .student button i {
      color: #fff;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
  .game__container .teams .teamList .student .points {
    font-size: 3rem;
    font-family: "Open Sans";
    font-weight: bold;
    width: 2rem;
    text-align: right; }

.game__container .winningStudentContainer {
  width: 27.8 rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .game__container .winningStudentContainer .winningStudentTitle {
    font-size: 2rem;
    color: #7bc0bd; }
  .game__container .winningStudentContainer .firstPlace .winnerName {
    font-size: 2rem;
    color: #302929; }
