* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  box-sizing: inherit;
  font-size: 62.5%; }

body {
  font-weight: 400;
  line-height: 1.6;
  width: 100vw;
  height: 100vh;
  font-family: "Gilroy", sans-serif; }

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }

main {
  margin: 0 12rem;
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center; }

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; }

.navbar {
  width: 100vw;
  height: 8rem;
  background-color: #fff;
  border: 1px solid #eaeaea; }
  .navbar__container {
    height: 100%;
    margin: 0 12rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .navbar__brand {
    text-decoration: none;
    font-weight: 800;
    font-size: 2.4rem;
    color: #4b3d6d;
    text-transform: uppercase; }
  .navbar__brand .text-style-1 {
    color: #7bc0bd; }
  .navbar__links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    font-weight: 300;
    font-size: 1.8rem;
    color: #302929; }
    .navbar__links li .navbar__link {
      text-decoration: none; }
      .navbar__links li .navbar__link:visited {
        color: #302929;
        text-decoration: none; }
      .navbar__links li .navbar__link:hover {
        transform: scale(1.2); }
      .navbar__links li .navbar__link:active {
        transform: scale(1.1); }
    .navbar__links li:not(:last-of-type) {
      margin-right: 6.3rem; }

.title1__container {
  margin: 7.6rem 0;
  position: relative;
  z-index: 1; }
  .title1__container .title-1 {
    position: relative;
    font-family: "Gilroy", sans-serif;
    font-size: 3.2rem;
    font-weight: 800;
    color: #4b3d6d;
    z-index: 2; }
  .title1__container:before {
    content: "";
    border-top: 1.2rem solid #7bc0bd;
    width: 120%;
    position: absolute;
    top: 50%;
    left: -10%;
    right: 0;
    bottom: 0; }

.title-2 {
  font-size: 3.2rem;
  font-weight: 800;
  color: #7bc0bd;
  margin-bottom: 5rem; }

.submitBtn {
  height: 5rem;
  width: 13.6rem;
  margin-top: 6.4rem;
  font-family: "Gilroy", sans-serif;
  font-size: 2rem;
  font-weight: 800;
  color: white;
  background-color: #7bc0bd;
  border-radius: 2.5rem; }

.student__gender .male {
  color: skyblue; }

.student__gender .female {
  color: pink; }

.hide {
  display: none; }

.icon-male {
  color: blue; }

.icon-female {
  color: pink; }

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 100vw;
  border: 1px solid #eaeaea;
  font-family: OpenSans;
  padding: 1rem 0;
  text-transform: uppercase; }

.title__container {
  width: 100vw;
  text-align: center; }
  .title__container h2 {
    font-size: 2rem; }
  .title__container h3 {
    font-size: 1.5rem; }

main {
  font-family: "Gilroy", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  main .optionsContainer {
    width: 19rem; }
    main .optionsContainer .gameForm {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border: 1px solid #000; }
      main .optionsContainer .gameForm label {
        flex: 1;
        text-align: center;
        font-size: 1.2rem; }
      main .optionsContainer .gameForm input[type=number] {
        width: 5rem;
        padding-left: .75rem;
        font-size: 1.2rem; }
    main .optionsContainer .options {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      main .optionsContainer .options .shuffle-studentsBtn,
      main .optionsContainer .options .refresh-studentsBtn,
      main .optionsContainer .options .save-gameBtn,
      main .optionsContainer .options .refresh-gameBtn {
        font-size: 2rem;
        flex: 1; }
      main .optionsContainer .options .playGameBtn {
        flex: 2; }
  main .game__container {
    width: 19rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    main .game__container .buttons {
      background-color: pink;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: stretch; }
      main .game__container .buttons .next,
      main .game__container .buttons .previous {
        flex: 1;
        height: 3rem;
        padding-top: .5rem; }
    main .game__container .teams,
    main .game__container .preview__teams {
      width: 19rem;
      margin-top: .5rem;
      font-size: 1.2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem; }
      main .game__container .teams .team,
      main .game__container .preview__teams .team {
        width: 100%;
        border: 1px solid #000; }
        main .game__container .teams .team:first-of-type,
        main .game__container .preview__teams .team:first-of-type {
          font-size: 2.5rem; }
        main .game__container .teams .team:not(:last-of-type),
        main .game__container .preview__teams .team:not(:last-of-type) {
          margin-bottom: .5rem; }
        main .game__container .teams .team .teamName,
        main .game__container .preview__teams .team .teamName {
          text-align: center; }
        main .game__container .teams .team .teamList,
        main .game__container .preview__teams .team .teamList {
          list-style: none; }
    main .game__container .preview__teams .team .teamList {
      font-size: 1.75rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      main .game__container .preview__teams .team .teamList .student {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly; }
    main .game__container .teams .teamName {
      display: inline-block;
      font-size: 2rem; }
    main .game__container .teams .teamPoint {
      display: inline-block; }
      main .game__container .teams .teamPoint button {
        margin: 0 .5rem; }
        main .game__container .teams .teamPoint button i {
          width: 2rem;
          height: 2rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
      main .game__container .teams .teamPoint .add {
        border: 1px solid #000; }
      main .game__container .teams .teamPoint .teamPointValue {
        font-size: 3rem; }
    main .game__container .teams .teamList {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      main .game__container .teams .teamList .currentTitle {
        font-size: 1.5rem;
        color: #2ecc71;
        display: none; }
      main .game__container .teams .teamList .nextTitle {
        display: none; }
      main .game__container .teams .teamList .currentStudent {
        font-size: 2.5rem;
        color: #2ecc71;
        margin-bottom: 1rem; }
      main .game__container .teams .teamList .nextStudent {
        font-size: 2rem;
        color: #e74c3c; }
      main .game__container .teams .teamList .student {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center; }
        main .game__container .teams .teamList .student .name {
          flex: 3; }
        main .game__container .teams .teamList .student button {
          flex: 1;
          margin: 0 .3rem;
          width: 3rem;
          min-height: 3rem; }
          main .game__container .teams .teamList .student button i {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 2rem; }
        main .game__container .teams .teamList .student .points {
          width: 3.5rem;
          align-self: end;
          text-align: right;
          padding-right: .5rem; }

.form__container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  .form__container .inputs__container {
    display: flex;
    flex-direction: row; }
    .form__container .inputs__container-small {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start; }
      .form__container .inputs__container-small .form-control {
        display: flex;
        flex-direction: column;
        align-items: flex-start; }
        .form__container .inputs__container-small .form-control label {
          margin-left: 1.5rem;
          margin-bottom: .9rem;
          font-family: "Open Sans";
          font-size: 1.4rem;
          font-weight: 600;
          text-transform: uppercase; }
        .form__container .inputs__container-small .form-control input {
          height: 5rem;
          width: 36rem;
          border-radius: 2.5rem;
          border: 1px solid #eaeaea;
          padding-left: 2rem;
          font-size: 2rem; }
        .form__container .inputs__container-small .form-control .error-message {
          display: none; }
        .form__container .inputs__container-small .form-control:not(:last-of-type) {
          margin-bottom: 3.6rem; }
      .form__container .inputs__container-small:not(:last-of-type) {
        margin-right: 8.1rem; }
  .form__container .form-change-route {
    color: #bdbdbd;
    font-family: "Open Sans";
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 2.3rem; }

header .addClassBtn {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 15.6rem;
  right: 12rem;
  font-size: 2rem;
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 2.25em;
  color: #fff;
  background-color: #7bc0bd; }
  header .addClassBtn a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none; }
    header .addClassBtn a i {
      color: #fff;
      font-size: 3rem; }

.classrooms__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: space-between;
  overflow: auto;
  height: 100%;
  position: relative;
  margin-bottom: 2rem;
  width: 100vw;
  padding: 0 12rem; }
  .classrooms__container .class__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 27.8rem;
    position: relative;
    border: 1px solid #eaeaea;
    margin: 0 1.4rem 3.5rem 0; }
    .classrooms__container .class__container:nth-child(4n) {
      margin-right: 0; }
    .classrooms__container .class__container .trashBtn {
      position: absolute;
      top: 2rem;
      right: 2rem;
      font-size: 1.5rem;
      display: none; }
      .classrooms__container .class__container .trashBtn a {
        color: red; }
    .classrooms__container .class__container .class {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-bottom: 2rem;
      font-family: "Open Sans";
      font-weight: 600; }
      .classrooms__container .class__container .class li {
        list-style: none; }
        .classrooms__container .class__container .class li a {
          text-decoration: none; }
      .classrooms__container .class__container .class .class-title {
        margin-top: 3.9rem;
        font-size: 2rem; }
        .classrooms__container .class__container .class .class-title a {
          color: #7bc0bd; }
      .classrooms__container .class__container .class .game-link {
        font-size: 1.8rem;
        color: #302929;
        margin: 1.25rem; }
        .classrooms__container .class__container .class .game-link:not(:last-of-type) {
          padding-bottom: 2rem;
          border-bottom: 2px solid #eaeaea; }
        .classrooms__container .class__container .class .game-link a {
          text-decoration: none;
          color: black; }
    .classrooms__container .class__container:hover .trashBtn {
      display: block; }

.title__container {
  width: 100vw;
  text-align: center; }
  .title__container h2 {
    font-size: 2rem; }
  .title__container h3 {
    font-size: 1.5rem; }

main {
  font-family: "Gilroy", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  main .optionsContainer {
    width: 19rem; }
    main .optionsContainer .gameForm {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border: 1px solid #000; }
      main .optionsContainer .gameForm label {
        flex: 1;
        text-align: center;
        font-size: 1.2rem; }
      main .optionsContainer .gameForm input[type=number] {
        width: 5rem;
        padding-left: .75rem;
        font-size: 1.2rem; }
    main .optionsContainer .options {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      main .optionsContainer .options .shuffle-studentsBtn,
      main .optionsContainer .options .refresh-studentsBtn,
      main .optionsContainer .options .save-gameBtn,
      main .optionsContainer .options .refresh-gameBtn {
        font-size: 2rem;
        flex: 1; }
      main .optionsContainer .options .playGameBtn {
        flex: 2; }
  main .game__container {
    width: 19rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    main .game__container .buttons {
      background-color: pink;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: stretch; }
      main .game__container .buttons .next,
      main .game__container .buttons .previous {
        flex: 1;
        height: 3rem;
        padding-top: .5rem; }
    main .game__container .teams,
    main .game__container .preview__teams {
      width: 19rem;
      margin-top: .5rem;
      font-size: 1.2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem; }
      main .game__container .teams .team,
      main .game__container .preview__teams .team {
        width: 100%;
        border: 1px solid #000; }
        main .game__container .teams .team:first-of-type,
        main .game__container .preview__teams .team:first-of-type {
          font-size: 2.5rem; }
        main .game__container .teams .team:not(:last-of-type),
        main .game__container .preview__teams .team:not(:last-of-type) {
          margin-bottom: .5rem; }
        main .game__container .teams .team .teamName,
        main .game__container .preview__teams .team .teamName {
          text-align: center; }
        main .game__container .teams .team .teamList,
        main .game__container .preview__teams .team .teamList {
          list-style: none; }
    main .game__container .preview__teams .team .teamList {
      font-size: 1.75rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      main .game__container .preview__teams .team .teamList .student {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly; }
    main .game__container .teams .teamName {
      display: inline-block;
      font-size: 2rem; }
    main .game__container .teams .teamPoint {
      display: inline-block; }
      main .game__container .teams .teamPoint button {
        margin: 0 .5rem; }
        main .game__container .teams .teamPoint button i {
          width: 2rem;
          height: 2rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
      main .game__container .teams .teamPoint .add {
        border: 1px solid #000; }
      main .game__container .teams .teamPoint .teamPointValue {
        font-size: 3rem; }
    main .game__container .teams .teamList {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      main .game__container .teams .teamList .currentTitle {
        font-size: 1.5rem;
        color: #2ecc71;
        display: none; }
      main .game__container .teams .teamList .nextTitle {
        display: none; }
      main .game__container .teams .teamList .currentStudent {
        font-size: 2.5rem;
        color: #2ecc71;
        margin-bottom: 1rem; }
      main .game__container .teams .teamList .nextStudent {
        font-size: 2rem;
        color: #e74c3c; }
      main .game__container .teams .teamList .student {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center; }
        main .game__container .teams .teamList .student .name {
          flex: 3; }
        main .game__container .teams .teamList .student button {
          flex: 1;
          margin: 0 .3rem;
          width: 3rem;
          min-height: 3rem; }
          main .game__container .teams .teamList .student button i {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 2rem; }
        main .game__container .teams .teamList .student .points {
          width: 3.5rem;
          align-self: end;
          text-align: right;
          padding-right: .5rem; }
