.student__gender .male {
  color: skyblue; }

.student__gender .female {
  color: pink; }

.hide {
  display: none; }

.currentStudent {
  border: 1px solid red; }

.nextStudent {
  border-bottom: 1px solid pink; }

.icon-male {
  color: blue; }

.icon-female {
  color: pink; }

main .game__container .teams .team .teamList {
  list-style-type: none; }
