<%- include ('../partials/head'); %>

    <header>
        <%- include ('../partials/navbar'); %>
        <h1>Add A Classroom</h1>
    </header>

    
    <main>
        <form action="/classroom/add" method="POST" enctype="multipart/form-data" id="addClassroom" class="" autocomplete="off">
            <label for="name">Class Name</label>
            <input class="className" type="text" id="className" name="className" placeholder="Class Name" required/><br/>
            <!-- <label class="" for="file">CSV File</label> -->
            <input class="file" id="file" name="csvfile" type="file" placeholder="upload csv file"/>
                <div class="or">or</div>
            <button class="submit" type="submit">Add Students Manually</button>
        </form>

    </main>
    <%- include ('../partials/footer'); %>
<script type="module" src="/public/js/addClassroom/controller.js"></script>


</body>
</html>