<%- include ('../partials/head'); %>

    <header>
        <%- include ('../partials/navbar'); %>
        
    </header>

    
    
    <main>

        <div class="title1__container">
            <h1 class="title-1">Add A Classroom</h1>
            <div class="rectangle"></div>
        </div>

        <div class="form__container">
            <form action="/classroom/add" method="POST" enctype="multipart/form-data" id="addClassroom" class="form-secondary" autocomplete="off">
                <div class="form-control">
                    <label for="name">Class Name</label>
                    <input class="addClassName" type="text" id="className" name="className"required/>
                </div>
                <div class="form-control">
                    <label class="addStudentsLabel" for="file">Add Students</label>
                    <div class="addClass">
                        <input class="fileInput" id="file" name="csvfile" type="file" title=" ">
                        <span class="formBtn">Add CSV File</span>
                        <span class="fileValue"></span>
                        <button class="submit formBtn" type="submit">Add Students Manually</button>
                    </div>
                </div>
            </form>
        </div>
        

    </main>
    <%- include ('../partials/footer'); %>
<script type="module" src="/public/js/addClassroom/controller.js"></script>


</body>
</html>