<%- include ('../partials/head'); %>

    <header>
        <%- include ('../partials/navbar'); %>
        <h1>Add A Classroom</h1>
        
    </header>

    
    <main>
        <form action="/classroom/add/csv" method="POST" enctype="multipart/form-data" id="addClassroom" class="" autocomplete="off">
            <h2>Download a CSV file</h2>
            <label for="name">Class Name</label>
            <input type="text" id="className" name="className" placeholder="Class Name" required/><br/>
            <label class="" for="file">CSV File</label>
            <input class="" id="file" name="csvfile" type="file" placeholder="upload csv file"/>
            <div><button class="" type="submit">Upload</button></div>
        </form>

        <form id="formManual" action="/classroom/add" method="POST"></form>
            <h2>Or Add Students manually</h2>
            <div id="addStudentsBelow">
                <label for="className2">Class Name</label>
                <input type="text" id="className2" name="className" placeholder="Class Name" required/>
            </div>
            <label for="studentName" class="">Name</label>
            <input class="" type="text" name="studentName" id="studentName">
            <label for="radio.male" class="">male</label>
            <input class="with-font" id="radio-male" type="radio" name="sex" value="male">
            <label for="radio-female" class="">female</label>
            <input class="with-font"id="radio-female" type="radio" name="sex" value="female">
            <button id="addStudent"><i class="fas fa-plus"></i></button>
        </form>
        <div>
            <button id="true_submit">Add Class</button>
        </div>
        
    </main>

<script src="../public/js/addClass.js"></script>
<!-- <script>
    const file = document.getElementById('file');

    console.log('made it to helper function');

    file.addEventListener('change', (e) => {
        e.target.closest('form').submit();
    })
</script> -->
</body>
</html>