<%- include ('../partials/head'); %>

<header>
    <%- include ('../partials/navbar'); %>
    <h1>Boys Vs Girls</h1>
</header>

<main id="boysVsGirlsClassData" data-classroom_id="<%= classroomID %>">
    <p><%= classroomID %></p>
    <div class="game__container">
        
        <div class="boy__container">
            <h3>boys</h3>
            <div class="currentBoy">
                <h4>Current Boy</h4>
                <!-- <span class=name>Current</span>
                <button class="add"><i class="fas fa-plus"></i></button>
                <button class="minus"><i class="minus fas fa-minus"></i></button>
                <span class="points">0</span> -->
            </div>
            <div class="nextBoy">
                <h5>Next Boy</h5>
                
                <!-- <span class=name>Next</span>
                <button class="add"><i class="fas fa-plus"></i></button>
                <button class="minus"><i class="minus fas fa-minus"></i></button>
                <span class="points">0</span> -->
            </div>
            <br>
            <div class="boys">
                <!--boysArray-->
            </div>
        </div>


        <div class="girl__container">
            <h3>Girls</h3>
            <div class="currentGirl">
                <h4>Current Girl</h4>
                <!-- <span class=name>Current</span>
                <button class="add"><i class="fas fa-plus"></i></button>
                <button class="minus"><i class="minus fas fa-minus"></i></button>
                <span class="points">0</span> -->
            </div>
            <div class="nextGirl">
                <h5>Next Girl</h5>
                <!-- <span class=name>Next</span>
                <button class="add"><i class="fas fa-plus"></i></button>
                <button class="minus"><i class="minus fas fa-minus"></i></button>
                <span class="points">0</span> -->
            </div>
            <br>
            <div class="girls">
                <!--girls array-->
            </div>
        </div>
        
    </div>
</main>
<script type="module" src="/public/js/boysVsGirls/controller.js"></script>
</body>
</html>