<%- include ('../partials/head'); %>

<header>
    <%- include ('../partials/navbar'); %>
    <h1>Classrooms</h1>

    <!--classrooms go here-->
    <% classrooms.forEach(function(classroom) { %> 
        <div>
            <a href="#"><%= classroom.className %></a>
            <a href="/classroom/update/<%= classroom._id %>"><i class="far fa-edit"></i></a>
            <a href="#"><i class="far fa-trash-alt"></i></a>
        </div>
        

    <% }) %>
    
    <a href="/classroom/add">Add Class</a>
    
</header>

