<%- include ('../partials/head'); %>

<header>
    <%- include ('../partials/navbar'); %>
    <h1>Classrooms</h1>

    <form action="/classroom/svg" method="POST" id="addClassroom" enctype="multipart/form-data" class="form" autocomplete="off">
        <label for"upload">Upload CSV file. </label>
        <input type="file" id="upload">
        <button class="" type="submit">Login</button>
    </form>

    <a href="/classrooms/"></a>
</header>
