<%- include ('../partials/head'); %>

<header>
    <%- include ('../partials/navbar'); %>
    <h1>Classrooms</h1>

    <!--classrooms go here-->
    
    <a href="/classroom/addClassroom">Add Class</a>
    
</header>
