<%- include ('../partials/head'); %>

<header>
    <%- include ('../partials/navbar'); %>
    <h1>Individual Game</h1>
</header>

<main id="individualGameClassData" data-classroom_id="<%= classroomID %>">
    <div class="buttons">
        <button class="previous">Previous</button>
        <button class="next">Next</button>
    </div>
    <div class="game__container">
        <div class="currentStudent">
            <h3>Current Student</h3>
        </div>
        <div class="nextStudent">
            <h3>Next Student</h3>
            <!-- <h4>Next Student</h4>
            <span class=name>Name</span>
            <button class="add"><i class="fas fa-plus"></i></button>
            <button class="minus"><i class="minus fas fa-minus"></i></button>
            <span class="points">0</span> -->
        </div>
        <br/>
        <div class="students"></div>
        
    </div>
</main>

<script type="module" src="/public/js/individual/controller.js"></script>
</body>
</html>