<%- include ('../partials/head'); %>

<header>
    <%- include ('../partials/navbar'); %>
    <h1>Individual Game</h1>
</header>

<main class="classroomData" data-classroom_id="<%= classroomID %>">
    <div class="game__container">
        <button class="submit">Play</button>
        <div class="preview__teams"></div>
        <div class="teams">
            <!-- <ul class="team">
                <li class="student">student1</li>
                <li class="student">student2</li>
                <i class="fas fa-trash-alt"></i></a>
            </ul> -->
        </div>
    </div>
    
    
</main>
<script type="module" src="/public/js/individual/controller.js"></script>
</body>
</html>