<%- include ('../partials/head'); %>

<header>
    <%- include ('../partials/navbar'); %>

</header>

<main>
    <h1>
        Welcome To Class Point 
    </h1>

    <div class="cta__container">
        <ul class="navbar__links">
            <li><a class="cta__button" href="/users/login">Login</a></li>
            <li><a class="cta__button" href="/users/">SignUp</a></li>
        </ul>
    </div>

    <div class="info__paragraph">
        <p>
            This site is dedicated to helping teachers keep track of classroom points for games, as well as tracking student participation.
        </p>
        <p>
            After signing up you can save a class either by entering students manually or downloading an csv file.
        </p>
        <p>
            Once your class is saved you can play <span>Individual Games</span>, where students compete against each other,
            <span>Boy Vs Girl games,</span> or <span>Team Games,</span> where you can split your class into as many teams as you need. 
        </p>
    </div>

    
</main>

</body>
</html>