<%- include ('../partials/head'); %>

<header>
    <%- include ('../partials/navbar'); %>
</header>

<main>
    <div class="title1__container m-b-xl">
        <h1 class="title title-1">Class Point</h1>
        <div class="rectangle"></div>
    </div>

    <div class="info__paragraph">
        <p>
            This site is dedicated to helping teachers keep track of classroom points for games, as well as tracking student participation.
        </p>
        <p>
            After signing up you can save a class either by entering students manually or downloading a csv file.
        </p>
        <p>
            Once your class is saved you can play <span>Individual Games</span>, where students compete against each other,
            <span>Boy Vs Girl games,</span> or <span>Team Games,</span> where you can split your class into as many teams as you need. 
        </p>
    </div>

    <div class="cta__container m-b-xl">
        <ul class="navbar__links">
            <li class="cta__button"><a href="/users/login">Login</a></li>
            <li class="cta__button"><a href="/users/">SignUp</a></li>
        </ul>
    </div>

    
</main>
<%- include ('../partials/footer'); %>

</body>
</html>