<%- include ('../partials/head'); %>

<header>
    <%- include ('../partials/navbar'); %>

</header>

<main>
    <form action="/users/login" method="POST" id="registerForm" class="" autocomplete="off">
        <ol class="">
            <li>
                <label class="" for="email">Email</label>
                <input class="" id="email" name="email" type="email" placeholder="email@mail.com" autofocus required/>
            </li>
            <li>
                <label class="" for="password" data-info="Enter a password longer than 7 characters">Password</label>
                <input class="" id="password" name="password" type="password" placeholder="password" required/>
            </li>
        </ol>
        <button class="" type="submit">Login</button>
    </form>
</main>

</body>
</html>