<%- include ('../partials/head'); %>

<header>
    <%- include ('../partials/navbar'); %>

</header>

<main class="main-register">
    <div class="registerForm__container">

        <form action="/users/" method="POST" id="registerForm" class="" autocomplete="off">
           
            <div class="form-control">
                <label class="" for="name">Name</label>
                <input class="" id="name" name="name" type="text" placeholder="Name" required/>
                <small>Error message</small>
            </div>
            <div class="form-control">
                <label class="" for="email">Email</label>
                <input class="" id="email" name="email" type="email" placeholder="email@mail.com" required/>
                <small>Error message</small>
            </div>
            <div class="form-control">
                <label class="" for="password" data-info="Enter a password longer than 7 characters">Password</label>
                <input class="" id="password" name="password" type="password" placeholder="password" required/>
                <small>Error message</small>
            </div>
            <div class="form-control">
                <label class="" for="password2" data-info="Enter a password longer than 7 characters">Confirm Password</label>
                <input class="" id="password2" name="password2" type="password" placeholder="confirm password" required/>
                <small>Error message</small>
            </div>
            <div class="form-control">
                <button class="btnSubmit" type="submit">Register</button>
            </div>   
        </form>

       
    </div>
</main>

<script type="module" src="/public/js/register/controller.js"></script>
</body>
</html>