<%- include ('../partials/head'); %>

<header>
    <%- include ('../partials/navbar'); %>
    <div class="title__container">
        <h2 class="title">Create Your Teams</h2>
        <h3><%= classroom.className %></h3>
    </div>
    
    
</header>
<main class="classroomData" data-classroom_id="<%= classroom._id %>">
    
    <div class="errors"></div>
    
   
        <div class="optionsContainer">
            <div class=gameForm>
                <label for="numberOfTeams">Number of Teams</label>
                <input id="numberOfTeams" type="number" name="numberOfTeams" value="1">
            </div>
            <div class="options">
                <button class="refresh-studentsBtn"><i class="fas fa-sync-alt"></i></button>
                <button class="shuffle-studentsBtn"><i class="fas fa-random"></i></button>
                <button class="refresh-gameBtn hide"><i class="fas fa-sync-alt"></i></button>
                <button class="save-gameBtn hide"><i class="fas fa-save"></i></button>
                <button class="submit">Play</button>
            </div>
        </div>
       
        
        
   

    <div class="game__container">
        <div class="preview__teams"></div>
        <div class="teams"></div>
    </div>

    
    
</main>

<script type="module" src="../public/js/team/controller.js"></script>

</body>

</html>
    
   

        
    
    

